@import "../css/base";

.Footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: $background-text-color-dark;
  background-color: $background-color-dark;
  text-align: left;
  padding: 80px 20px 20px 20px;

  &__logo { width: 150px; }

  & * {
    align-items: flex-start;
  }
}

.Footer a {
  color: $background-text-color-dark;

  &:hover { text-decoration: none; }
}

.Footer .row a {
  padding: 6px 0;
}