.btn {
  color: $background-text-color;
  display: inline-block;
  outline: 0;
  padding: $button-padding;
  border-radius: $button-border-radius;
  border: 0;
  margin: 10px 0;
  box-shadow: $button-shadow;
  cursor: pointer;
  font-size: $font-size;

  & + & {
    margin-left: 5px;
  }

  &:disabled {
    background-color: desaturate($secondary-color, 20%);
    color: #8898aa;
    border-color: #dfdfdf;
    cursor: default;
  }

  &:active {
    box-shadow: $button-shadow-depressed;
    border: 0;
  }

  &--primary {
    background-color: $primary-color;

    &:active {
      background-color: darken($primary-color, 5%);
    }
  }

  &--secondary {
    color: #666;
    background-color: $secondary-color;

    &:active {
      background-color: darken($secondary-color, 5%);
    }
  }

  &--success {
    background-color: $success-color;

    &:active {
      background-color: darken($success-color, 5%);
    }
  }

  &--warning {
    background-color: $warning-color;

    &:active {
      background-color: darken($warning-color, 5%);
    }
  }

  &--danger {
    background-color: $danger-color;

    &:active {
      background-color: darken($danger-color, 5%);
    }
  }
}