.container {
  display: block;
  width: 100%;
  margin: auto;
  @media only screen and (min-width: $xs) {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: $grid-xs-width;
  }
  @media only screen and (min-width: $sm) { max-width: $grid-sm-width; }
  @media only screen and (min-width: $md) { max-width: $grid-md-width; }
  @media only screen and (min-width: $lg) { max-width: $grid-lg-width; }
  @media only screen and (min-width: $xl) { max-width: $grid-xl-width; }
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media only screen and (max-width: $xs) {
    display: block;
  }
}

@mixin col($size) {
  .col--#{$size} {
    @for $i from 1 through $columns {
      &--#{$i} {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 16px;
        box-sizing: border-box;
        width: percentage($i / $columns);
      }
    }
  }
}

@media only screen and (min-width: $xs) {
  @include col('xs');
}

@media only screen and (min-width: $sm) {
  @include col('sm');
}

@media only screen and (min-width: $md) {
  @include col('md');
}

@media only screen and (min-width: $lg) {
  @include col('lg');
}

@media only screen and (min-width: $xl) {
  @include col('xl');
}
