@charset "UTF-8";
@import "base";
@import "typography";
@import "grid";
@import "card";
@import "button";
@import "flash";
@import "switch";
@import "select";
@import "input";

body {
  font-size: $font-size;
  font-family: $body-font;
  background-color: $background-color;
  color: $background-text-color;
}